.faq-conteiner1{
    width: 540px;
    margin-left: 1300px;
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
    border: 4px solid rgb(241, 225, 0); /* cor da borda */
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);     /* fundo leve atrás da imagem */
}

.titulo-menor{
      position: absolute;
  display:block;
  margin: 0 auto;              /* centraliza horizontalmente */
  margin-top: -710px;           /* sobe um pouco (ajuste o valor como quiser) */
  width: 400px; 
  z-index: 9999;
  left: 50%;              
  transform: translateX(110%); 
}

.faq-item1{
    margin-bottom:15px;
    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;
}

.faq-pergunta1{
    cursor: pointer;
    background: #09530d;
    color: #ffffff;
    padding: 15px 40px 15px;
    position: relative;
    font-weight: 700;
    /* display: block;
    tira a setinha  */
}

/* remove o marcador inicial e permite com que a gente coloque o nosso próprio marcador, pseudo elemento */
.faq-pergunta1::marker{
    content: "";
}

/* adiciona o ícone de + inicial */
.faq-pergunta1::before{
    content: "+";
    position: absolute;
    inset-inline-end: 15px;
    /* joga o elemento lá pro final do retangulo azul */
    transition: transform 0.3s ease;
    /* adiciona transição suave */
    font-size:1.2rem;
}

/* muda o icone para - quando estiver aberto */
.faq-item1[open] .faq-pergunta1::before {
    content: "-";
    /* realiza efeito de rotação ao abrir ou fechar */
    transform: rotate(180deg);
}

.faq-resposta1{
    padding: 15px;
    background: #ccc;
    border-top: 2px solid #eee;
    color: black;
}